/* ---- */
/* RESET */
/* ---- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	overflow: auto;
}

body.project {
	overflow: hidden;
}

/* ---- */
/* FONT SIZES */
/* ---- */
body.font-size-small #terminal-text {
	font-size: 12px;
}

body.font-size-medium #terminal-text {
	font-size: 14px;
}

body.font-size-large #terminal-text {
	font-size: 18px;
}

/* ---- */
/* ALERTS */
/* ---- */
.alert {
	background: #f44336;
	color: #fff;
	display: none;
	font-size: 14px;
	left: 0;
	padding: 12px 16px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 1000;
}

.alert.show {
	display: block;
}